.r_container {
    padding: 1.5rem 7rem;
    width: 100%;
    position: relative;
    overflow: visible; 
}


.r_card {
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    margin-block: 3rem;
    margin-inline: .3rem;
    margin-bottom: 4.3rem;
    transition: all 300ms ease-in;
}

.r_card>img {
    width: 100%;
    max-width: 15rem;
}

.r_card .r_price {
    font-size: 1.2rem;
    font-weight: 600;
}

.r_card .card_name {
    font-size: 1.5rem;
}


.r_card .card_detail {
    font-size: 0.7rem;
    width: 15rem;
}


.r_card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}


.swiper-horizontal {
    overflow: visible;
}


.r_button {
    position: absolute;
    top: 27rem;
    right: 1rem;
    display: flex;
    gap: 1rem;

    z-index: 1000; 
}

.r_button button {
    background: #fff;
    border: 1px solid #ccc;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    background-color: orange;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 1001; 
}

